*.class
*.log
*.class
*.log
bin/
project/
target/
build/
*.class

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
target/
./.idea
.idea/sbt.xml
.idea/.name
.idea/libraries/
.idea/modules/
.idea/modules.xml
.idea/scala_compiler.xml
.idea/tasks.xml
.idea/workspace.xml
.idea_modules/
*.log
*.iml
*.ipr
*.iws
.idea


# Ignore Eclipse files
.project
.classpath
.prefs
.settings

# Scala-IDE specific
.scala_dependencies
.worksheet
/bin/

